/* Desktop/mobile stuff */

@media all and (min-width: 960px) {
    body {
        width: 50%;
        max-width: 700px;
    }
}

/* General*/

body {
    background-color: #2d4069;
    color: white;
    margin: auto;
    padding-top: 10%;
}

h2 {
    color:  yellow;
}

/* Input fields and displays */

#inputs {
    display: flex;
    margin-top: 0.5em;
}

input[type=text] {
    min-width: 2em;
    margin-right: 2%;
    flex-grow: 1;
}

input#button {
    color: white;
    width: 30%;
}

.highlight {
    background-color: #05ca57 !important;
}


#present {
    font-size: 2em;
    font-weight: bold;
    color: yellow;
    float: left;
}

#score {
    font-size: 1em;
    float: right;
    font-size: 2em;
    font-weight: bold;
    color: #05ca57;
}

/* Correct/Incorrect answers */

.default {
    background-color: white !important;
    color: black;
    font-weight: normal;
}

.correct {
    background-color:  #05ca57 !important;
    color: black;
    font-weight: normal;
}

.half-correct {
    background-color: sandybrown !important;
}

.incorrect {
    background-color: #ff7474 !important;
    color: black;
    font-weight: bold;
}

/* Progress bar */

#progress-bar {
    display: grid;
    grid-auto-columns: repeat(10, 1fr);
    grid-template-rows: 20px;
    gap: 3%;
    margin-bottom: 1em;
}

.step {
    background-color: white;
    color: black;
    border-radius: 4px;
    border: 2px solid transparent;
    visibility: visible;
    opacity: 1;
    transition: visibility 0s linear 0s, opacity 500ms;
}

.selected {
    border-color: yellow;
}

.step:hover {
    cursor: pointer;
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 500ms, opacity 500ms;
}

#step-info {
    margin-bottom: 2em;
    font-size: 1.2em;
}

#step-info span {
    font-weight: bold;
    color: #05ca57;
}